<p-dialog header="Edit Bio" [modal]="true" [visible]="visible()" (visibleChange)="visibleChange.emit($event)">
  @if (form) {
    <form [formGroup]="form" (submit)="onSubmit()">
      <textarea rows="5" cols="30" style="resize: none" pTextarea formControlName="bio"></textarea>
      <div class="action-row">
        <button pButton severity="secondary" type="button" (click)="visibleChange.emit(false)">
          <span pButtonLabel>Cancel</span>
        </button>
        <button pButton severity="primary" type="submit" [disabled]="form.pristine || form.invalid">
          <span pButtonLabel>Save</span>
        </button>
      </div>
    </form>
  }
</p-dialog>
